.burger {
    position: relative;
    width: 44px;
    height: 44px;
    padding: 0;
    border: none;
    background-color: transparent;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}
    .burger::before,
    .burger::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: block;
        width: 16px;
        height: 2px;
        background-image: url("../vectors/burger.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        border-right: 1px;
    }

    .burger::before {
        transform: translateY(-3px);
    }

    .burger::after {
        transform: translateY(3px);
    }

@keyframes burger-top-cutlet {
      0% { }
     40% { transform: translateY(0); }
     55% { transform: translateY(0); }
    100% { transform: rotate(45deg); }
}

@keyframes burger-bottom-cutlet {
      0% { }
     40% { transform: translateY(0); }
     55% { transform: translateY(0); }
    100% { transform: rotate(-45deg); }
}

.menu-expanded {

}
    .menu-expanded .burger::before {
        animation: burger-top-cutlet 0.8s var(--ease-out-circ) forwards;
    }

    .menu-expanded .burger::after {
        animation: burger-bottom-cutlet 0.8s var(--ease-out-circ) forwards;
    }
