.key {
    display: inline-block;
    vertical-align: baseline;
    font-style: normal;
    position: relative;
}

.key--forward { }
.key--backward { }
.key--up { }
.key--down { }

.key--plus { }
.key--comma { }

.key--fp { }
.key--bp { }
.key--fk { }
.key--bk { }

.key--tag { }
.key--stance { }
.key--throw { }
.key--block { }



.classic .key {
    font-weight: bold;
}


.playstation .key,
.xbox .key {
    vertical-align: top;
    width: 26px;
    height: 26px;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* shared */

.playstation .key--forward  , .xbox .key--forward  { width: 16px; background-image: url("../vectors/key/arrow-forward.svg"); }
.playstation .key--backward , .xbox .key--backward { width: 16px; background-image: url("../vectors/key/arrow-backward.svg"); }
.playstation .key--up       , .xbox .key--up       { width: 16px; background-image: url("../vectors/key/arrow-up.svg"); }
.playstation .key--down     , .xbox .key--down     { width: 16px; background-image: url("../vectors/key/arrow-down.svg"); }

.playstation .key--plus  , .xbox .key--plus     { width: 8px; margin: 0 -10px; background-image: url("../vectors/key/miscellaneous-plus.svg"); }
.playstation .key--comma , .xbox .key--comma    { width: 4px; margin: 0 -8px; background-image: url("../vectors/key/miscellaneous-comma.svg"); }


/* playstation & xbox */

.playstation .key--fp   { background-image: url("../vectors/key/playstation-square.svg"); }
.playstation .key--bp   { background-image: url("../vectors/key/playstation-triangle.svg"); }
.playstation .key--fk   { background-image: url("../vectors/key/playstation-cross.svg"); }
.playstation .key--bk   { background-image: url("../vectors/key/playstation-circle.svg"); }

.xbox .key--fp   { background-image: url("../vectors/key/xbox-x.svg"); }
.xbox .key--bp   { background-image: url("../vectors/key/xbox-y.svg"); }
.xbox .key--fk   { background-image: url("../vectors/key/xbox-a.svg"); }
.xbox .key--bk   { background-image: url("../vectors/key/xbox-b.svg"); }

.playstation .key--throw    { width: 34px; background-image: url("../vectors/key/playstation-r1.svg"); }
.playstation .key--tag      { width: 34px; background-image: url("../vectors/key/playstation-l1.svg"); }
.playstation .key--stance   { width: 34px; background-image: url("../vectors/key/playstation-l2.svg"); }
.playstation .key--block    { width: 34px; background-image: url("../vectors/key/playstation-r2.svg"); }

.xbox .key--tag      { width: 34px; background-image: url("../vectors/key/xbox-lb.svg"); }
.xbox .key--stance   { width: 34px; background-image: url("../vectors/key/xbox-lt.svg"); }
.xbox .key--throw    { width: 34px; background-image: url("../vectors/key/xbox-rb.svg"); }
.xbox .key--block    { width: 34px; background-image: url("../vectors/key/xbox-rt.svg"); }
