.page {
    display: flex;
    align-items: flex-start;
    height: 100%;
}


@media (min-width: 1340px) {
    .page {
        padding-right: var(--sidebar-width);
    }
    .page--player-2-active {
        padding-right: 0;
    }
}
