/* stylelint-disable declaration-colon-space-after */
:root {
    --transition-hover: 0.1s ease;
    --main-background: #222222;
    --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica Neue, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --gold: #DEB66D;
    --groups-gap: 3px;
    --container-padding: 25px;
    --ease-out-circ: cubic-bezier(0, 0.55, 0.45, 1);
    --sidebar-width: 240px;
    --group-min-width: 376px;
    --group-max-width: 500px;
    --vertical-spacing: 35px;
    --horizontal-spacing: 40px;
    --scrollbar-track: #292929;
    --scrollbar-thumb: #3E3E3E;
}
/* stylelint-enable declaration-colon-space-after */
