.tower {

}
    .tower__link {
        position: relative;
        display: block;
        padding: 12px calc(2 * var(--container-padding));
        cursor: pointer;
        font-size: 12px;
        line-height: 18px;
        color: rgba(255, 255, 255, 0.3);
        text-decoration: none;
        transition: color var(--transition-hover);
    }


    .tower__link:hover {
        color: var(--gold);
    }
        .tower__link:hover::before {

        }

    .tower__link--current {
        font-weight: bold;
        color: var(--gold);
    }
        .tower__link--current::before {
            content: "";
            position: absolute;
            left: var(--container-padding);
            right: var(--container-padding);
            top: 0;
            bottom: 0;
            border-radius: 3px;
            background-color: rgba(255, 255, 255, 0.028);
        }


    @media (min-width: 700px) {

        .player--one .tower__link--current::before {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            right: 0;
        }

        .player--two .tower__link--current::before {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            left: 0;
        }
    }


